sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: YdP7fDcApVlwjm90p+FvavQI1J+D7widL9w028OFZzZmH5SBSs+MUoLKXLKw9vQYzF+8OBD8kyYBZpUTN+j2FOrAIG1VoX1EXwehbbcTTVoaryeu4/wK62o+EoHKfxkg18riMKhscwhyfKEI9AfZOE74CGYJS/I0iXUdANpPoLies5/BeCGU0RTYvqOK4+/DHgc9B4YPmTrfO1P2443LFoCXIvy3pb9H2Tfpb1Gl39Sj3sowCWEWm9aJL3ykQjMJyQQqVwowk2hPGdobUIDIu+GjDuAWx0UarxEGgHGJCKJEnOM+pyig0R88jiF04/+gTxf2Fql2YvaMd5pRJk3nhxYcFGE1yM9UHqhjip95J+cvnk2x4Nj3pC/BAIZLRIxqPTM5cJalXPHs4hcO5czjRzG11JF5Ll0MnVH5//+zzF1hZMbIZmMmAVewGSqtoj+LZUhkviO4ssvWD00jkeZoMPVS4/HEFJMrYu99cF7wAc0PLL1LWmXKMyxwzAb1Cd316GpOnZ0rr08Uz9zWhf+uNrgKYSFCzDiNF+W7j+wY5w2P6/pjpuX3/uo+JvXkm4CT7ezgQbpdErXz4Ha3GWYXhsbBeozawI+ZrrhtRANCI/GJO3yvxrz8kZ2iClGQqAdDT0CgyE9G5S1ERChTX2ME/kwWIGiQlx/t2QRS/pRMOds=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/An-Anti-Slavery-Crusade--A-Chronicle-of-the-Gathering-Storm_3034
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy